.App {
  text-align: center;
}

body {
  height: 300vh;
  width: 100vw;
  background: cross-fade();
  margin: 0;
  padding: 0;
}

.display_picture {
  text-align: right;
  justify-content: space-around;
  list-style: none;
  transform: translateY(100px);

}
nav{
  align-items: center;
  background: rgb(73,79,82);
  color:white;
  transition: transform 250ms;
  width: 150vw;
  border: 1px solid black;
  border-bottom: 3px solid #04c2c9;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.connect {
  background: #eee;
  padding: 25px 50px;
}
a.connect {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.connect:hover {
  transform: translateY(-2px);
}
a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

a.linkedin {
  color: #0e76a8;
}

a.github {
  color: #333;
}

.music{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  transform: translateY(100px);
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
.result {
  height: 60px;
  background-color: #bbb;
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;

}

.calculator-body {
  max-width: 400px;
  margin: auto;
}

.button {
  display: block;
  background-color: #bbb;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
}

/* Photos */
